#toolBar{
    padding: 8px;
    width: 99%;
    background: lightgrey;
    border-bottom: 1px solid gray;
}

.toolbar-element {
    display: inline-block;
    padding: 5px;
}

#current-date-toolbar{
    width: 10%;
}

#control-buttons-toolbar div{
    display: inline-block;
}

#menu-toolbar{
    float:right;
}

#menu-toolbar div{
    display: inline-block;
}

#account-toolbar{
    margin-left: 15px;
}