
.icon {
  font-family: var(--main-font);
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  font-size: 10pt;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}


header {
  display: block;
  width: 100%;
  padding: 1.75em 0;
  border-bottom: 1px solid var(--border-color);
  background: var(--neutral-color);
}

/* GRID */

.row {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.row-middle {
  align-items: center;
}

.col {
  max-width: 100%;
}

.col-start {
  justify-content: flex-start;
  text-align: left;
  width: 20%;
}

.col-center {
  justify-content: center;
  text-align: center;
  font-size: 10pt;
  padding-top: 5px;
  padding-bottom: -5px;
  padding-left: 1px;
  padding-right: 1px;
}

.col-end {
  justify-content: flex-end;
  text-align: right;
  width: 20%;
}


/* Calendar */

.calendar {
  display: block;
  position: relative;
  width: 100%;
  background: var(--neutral-color);
  border: 1px solid var(--border-color);
}

.calendar .header {
  font-family: var(--main-font);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 115%;
  padding: 10px 0;
  border-bottom: 1px solid var(--border-color);
}

.calendar .header .icon {
  text-transform: uppercase;
  cursor: pointer;
  transition: .15s ease-out;
}

.calendar .header .icon:hover {
  transform: scale(1.5);
  transition: .25s ease-out;
  color: var(--main-color);
}

.calendar .header .icon:first-of-type {
  margin-left: 1em;
}

.calendar .header .icon:last-of-type {
  margin-right: 1em;
}

.calendar .days {
  text-transform: uppercase;
  font-weight: 400;
  color: var(--text-color-light);
  padding: .5em 0;
  border-bottom: 1px solid var(--border-color);
}

.calendar .body .cell {
  position: relative;
  height: 2em;
  border-right: 1px solid var(--border-color);
  overflow: hidden;
  cursor: pointer;
  background: var(--neutral-color);
  transition: 0.25s ease-out;
}

.calendar .body .cell:hover {
  background: var(--neutral-color);
}

.calendar .body .selected {
  background: var(--event-background);
  color: var(--neutral-color);
}

.calendar .body .row {
  border-bottom: 1px solid var(--border-color);
}

.calendar .body .row:last-child {
  border-bottom: none;
}

.calendar .body .cell:last-child {
  border-right: none;
}

.calendar .body .cell .number {
  position: absolute;
  font-size: 82.5%;
  line-height: 1;
  top: .75em;
  right: .75em;
  font-weight: 700;
}

.calendar .body .col {
  flex-grow: 0;
  flex-basis: calc(100%/7);
  width: calc(100%/7);
}

.calendar .body .today  {
    background: var(--today-background);
    color: var(--neutral-color);
}