.group {
    margin-bottom: 2%;
    clear: both;
    text-align: right;
}

.title {
    font-size: 25pt;
    font-family: var(--main-font);
}

.label {
    font-size: 15pt;
    font-family: var(--main-font);
}

.input {
    margin-left: 15px;
    width: 350px;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.form {
    margin-top: 1%;
    float: left;
    display: inline;
}

.actions {
    float: left;
}

.dynamic-form {
    margin-top: 1%;
}
