.backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
    padding: 50px;
    z-index:1;
}

.modal-window {
    background: #fff;
    border-radius: 5px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px;
}

.header {
    text-align: center;
    font-size: 25pt;
    font-family: var(--main-font);
}


.modal-body {
    font-size: 20pt;
    font-family: var(--main-font);
    width: 100%;
    text-align: center;
}




.footer {
    text-align: center;
}

.button-group button{
   margin: 10px;
}