.backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
    padding: 50px;
    z-index: 1;
}

.modal-window {
    background: #fff;
    border-radius: 5px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px;
}

.header {
    text-align: center;
    font-size: 25pt;
    font-family: var(--main-font);
}


.modal-body {
    font-size: 20pt;
    font-family: var(--main-font);
    width: 100%;
    text-align: center;
}


.footer {
    text-align: center;
}

.button-group button {
    margin: 10px;
}

.variants {
    width: 100%;
    max-height: 400px;
    margin-bottom: 10px;
    border: 2px solid var(--border-color);
    overflow: hidden;
    overflow-y: auto;
}

.variant {
    width: 100%;
    border-bottom: 2px solid var(--border-color);
    overflow: hidden;
    text-align: left;
    padding-left: 10px;
}

.variant:hover {
    background: var(--today-background);
}

.variant:last-child {
    border-bottom: none;
}

.variant.chosen {
    background: var(--event-background);
    color: var(--neutral-color)
}
