.table {
    height: 100%;
}

.today-button {
    text-align: left;
    width: calc(100% / 2);
    display: inline-block;
    margin-bottom: 10px;
}

.view-buttons {
    text-align: right;
    width: calc(100% / 2);
    display: inline-block;
    margin-bottom: 10px;
}





more-events {
    margin: 1% 5%;

    padding: 2px 4px;
    width: 90%;
    text-align: center;
    background: var(--text-color);
    border-radius: 5px;
    color: var(--neutral-color);
}

.number{
    text-align: center;
    font-size: 10pt;
}

.number:hover{
    background:var(--text-color) ;
    color: var(--neutral-color);
}

.month-view-day {
    width: calc(100% / 7);
    height: 120px;
    border: 0.1px solid var(--border-color);
    cursor: pointer;
}

.month-view-day span {
    margin: 1% 5%;
    font-size: 82.5%;
}

.month-event {
    display: inline-block;
    font-size: 11pt;
    font-size: 10pt;

    margin: 1% 5%;
    padding: 2px 4px;
    position: sticky;

    border-radius: 5px;
    background: var(--event-background);
    color: var(--neutral-color);
}

.month-event.begin {
    border-radius: 5px 0px 0px 5px;
    margin-right: 0px;
}

.month-event.middle {
    border-radius: 0px;
    margin-left: 0px;
}
.month-event.end {
    border-radius: 0px 5px 5px 0px;
    margin-left: 0px;
}



.empty-week-title {
    width: 5%;
}

.week-view-day {
    width: calc(95% / 7);
    border: 0.1px solid var(--border-color);
    height: 30px;
}

.week-view-day-title {
    width: calc(95% / 7);
    color: var(--neutral-color);
    background: var(--event-background);
    text-align: center;
}

.week-and-day-event {
    display: inline-block;
    font-size: 11pt;
    font-size: 10pt;
    position: absolute;

    margin: 5px;
    padding: 2px 4px;

    border-radius: 5px;
    background: var(--event-background);
    color: var(--neutral-color);
    opacity: 0.9;
}

.week-and-day-event.begin {
    margin-bottom: 0px;
    border-radius: 5px 5px 0px 0px ;
}

.week-and-day-event.middle {
    margin: 0px 5px;
    border-radius: 0px;
}

.week-and-day-event.end {
    margin-top: 0px;
    border-radius: 0px 0px 5px 5px;
}







.day-title {
    width: 100%;
    color: var(--neutral-color);
    background: var(--event-background);
    text-align: center;
}

.day-view-time {
     height: 30px;
    width: 5%;
    color: var(--neutral-color);
    background: var(--event-background);
    text-align: center;
}

.day-view-data {
    height: 30px;
    width: 95%;
    border: 0.1px solid var(--border-color);
}