{% load webpack_loader %}
{% load static %}

<html>
    <head>
        <title>Calendar</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link href='/static/base.css' type='text/css' rel="stylesheet">
         <link href='/static/home.css' type='text/css' rel="stylesheet">
         <link href='/static/toolbar.css' type='text/css' rel="stylesheet">
    </head>
    <body>
        <div id="header"></div>

        <div>
            <div class="row">
            <div class="col-md-12">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>

        {% render_bundle 'vendors' %}
        {% render_bundle 'base' %}
    </body>
</html>