/* all */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

/* VARIABLES */
:root {
    --main-color: #1a8fff;
    --text-color: #777;
    --text-color-light: #ccc;
    --border-color: #eee;
    --neutral-color: #fff;
    --event-background: #4f5b69;
    --today-background: #98a8b6;
    --main-font: 'Raleway', sans-serif;
}

p {
    font-family: var(--main-font);
}

#content {
    margin: 0% 1%;
}

.info {
    margin-top: 10px;
    font-size: 15pt;
    font-family: var(--main-font)
}

.title {
    font-size: 20pt;
    display: inline-block;
    margin: 10px 5px;
}

.data {
    font-size: 15pt;
}

.inline-block {
    display: inline-block;
}

.export-button {
    margin-left: 15px;
    margin-top: -15px;
}

.margin-top {
    margin-top: 10px;
}

.right {
    text-align: right;
}

.disabled {
    color: var(--text-color-light);
    pointer-events: none;
}

.button-margin {
    margin: 0px 5px;
    margin-bottom: 5px;
}