/* all */
p {
    font-family: 'Raleway', sans-serif;
}

#content {
    margin-left: 25px;
    margin-top: 25px;
}

.info{
    margin-top: 10px;
    font-size: 15pt;
    font-family: 'Raleway', sans-serif;
}

/*toolbar*/
#navbarNav {
}

/* form */

.form-group {
    margin-bottom: 10px;
}

.form-title {
    font-size: 25pt;
    font-family: 'Raleway', sans-serif;
}

.form-label {
    font-size: 15pt;
    font-family: 'Raleway', sans-serif;
}

.form-input {
    margin-left: 15px;
    height: 25px;
}
