/* all */
p {
    font-family: 'Raleway', sans-serif;
}

#content {
    margin-left: 25px;
    margin-top: 25px;
}

.info{
    margin-top: 10px;
    font-size: 15pt;
    font-family: 'Raleway', sans-serif;
}

.title{
    font-size: 20pt;
    display:inline-block;
    margin-right: 10px;
}

.data {
    font-size: 15pt;
}

/*toolbar*/
#navbarNav {
}

/* form */

.form-group {
    margin-bottom: 2%;
    clear:both;
    text-align:right;
}

.form-title {
    font-size: 25pt;
    font-family: 'Raleway', sans-serif;
}

.form-label {
    font-size: 15pt;
    font-family: 'Raleway', sans-serif;
}

.form-input {
    margin-left: 15px;
    width: 350px;
}

.form {
    float:left;
    display: block;
}

.form-actions {
    float: left;
}

.dynamic-form{
    margin-top: 1%;
}

.side-bar {
    width: 15%;
    display: inline-block;
}

.scheduler{
    width: 80%;
    display: inline-block;
}

.rc-calendar-date-input-wrap{
   display: none;
}