{#{% extends 'home/base.html' %}#}
{#{% block content %}#}
{#    {% for event in events %}#}
{#        <div class="event">#}
{#            <div class="date">#}
{#                {{ event.created_date }}#}
{#            </div>#}
{#            <h1><a href="{% url 'event' pk=event.pk %}">{{ event.title }}</a></h1>#}
{#            <p>{{ event.text| slice:":300" }}</p>#}
{#        </div>#}
{#    {% endfor %}#}
{#{% endblock %}#}

{% extends 'home/base.html' %}
{% load webpack_loader %}
{% block content %}
    <div id="event-list"></div>
{% render_bundle 'vendors' %}
{% render_bundle 'event_list' %}
{% endblock %}