<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="toolbar.css">
    <link rel="stylesheet" href="root.css">
    <script src="https://unpkg.com/react@15/dist/react.js"></script>
    <script src="https://unpkg.com/react-dom@15/dist/react-dom.js"></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.js"></script>
    <script type="text/babel" src="toolbar.js"></script>
    <title>Аккаунт пользователя</title>
</head>
<body>
    <div id="root">
        <div id="toolBar"></div>
        <div id="page">
            <div id="account">
            </div>
        </div>
    </div>
</body>
</html>